# ignore node_modules
node_modules/

# ignore VSCode workspace
*.code-workspace

# custom files to omit from future commits
omit*.*

# ignore the .env file
.env

# ignore .vscode folder
.vscode/

# ignore everything inside db folder
db/
!db/keepdir

# ignore the files inside the files folder
filesDir/
!filesDir/keepdir

# LaTeX auxiliaries
*.aux
*.bbl
*.blg
*.fdb*
*.fls
*.lof
*.log
*.lot
*.synctex.gz
*.toc
 
# ignoring the DS store 
.DS_Store

# ignoring the certificates (but not the public key)!!
certs/
!certs/certificate.pem