# ignore node_modules
node_modules/

# ignore VSCode workspace
*.code-workspace

# custom files to omit from future commits
omit*.*

# ignore the .env file
.env

# ignore .vscode folder
.vscode/

# ignore everything inside db folder
db/

# LaTeX auxiliaries
*.aux
*.bbl
*.blg
*.fdb*
*.fls
*.lof
*.log
*.lot
*.synctex.gz
*.toc